nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem
}

nav ul li a {
  text-decoration: none;
  color: black;
}

/*VIsta para mobil*/
#navMobile {
  position: fixed;
  background-color: gray;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#navMobile ul{
  background-color: gray;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  gap: 1rem;
}

#menu-icon {
  display: none;
}

@media screen and (max-width: 38rem) {
  #menu-icon {
    display: block;
  }

  #nav-desktop {
    display: none;
  }
}